{% extends 'userApp/layout.html' %}
{% load static %}

{% block body %}
    <!-- Header Start -->
    <div class="container-fluid bg-primary px-0 px-md-5 mb-5">
        <div class="row align-items-center px-3">
          <div class="col-lg-6 text-center text-lg-left">
            <h4 class="text-white mb-4 mt-5 mt-lg-0">Books Center</h4>
            <h1 class="display-3 font-weight-bold text-white">
              New Approach to Books
            </h1>
            <p class="text-white mb-4">
              Sea ipsum kasd eirmod kasd magna, est sea et diam ipsum est amet sed
              sit. Ipsum dolor no justo dolor et, lorem ut dolor erat dolore sed
              ipsum at ipsum nonumy amet. Clita lorem dolore sed stet et est justo
              dolore.
            </p>
            <!-- <a href="" class="btn btn-secondary mt-1 py-3 px-5">Learn More</a> -->
          </div>
          <div class="col-lg-6 text-center text-lg-right">
            <img class="img-fluid mt-5" src="{% static 'assets/img/header.png' %}" alt="" />
          </div>
        </div>
      </div>
      <!-- Header End -->
  
        <!-- Facilities Start -->
    <div class="container-fluid pt-5">
      <div class="container pb-3">
        <div class="row">
          {% for i in catData %}
          <div class="col-lg-4 col-md-6 pb-1">
            <div
              class="d-flex bg-light shadow-sm border-top rounded mb-4"
              style="padding: 30px"
            >
              <i
                class="flaticon-050-fence h1 font-weight-normal text-primary mb-3"
              ></i>
              <div class="pl-4">
                <h4>{{i.category_name}}</h4>
                <p class="m-0">
                  <a href = "{% url 'getSubCat' i.id %}" class="btn btn-primary">View</a>
                </p>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>
    <!-- Facilities Start -->
{% endblock %}