{% extends 'userApp/layout.html' %}

{% block body %}
    <!-- Header Start -->
    <div class="container-fluid bg-primary mb-5">
        <div
          class="d-flex flex-column align-items-center justify-content-center"
          style="min-height: 400px"
        >
          <h3 class="display-3 font-weight-bold text-white">Our books</h3>
          <div class="d-inline-flex text-white">
            <p class="m-0"><a class="text-white" href="">Home</a></p>
            <p class="m-0 px-2">/</p>
            <p class="m-0">Our Books</p>
          </div>
        </div>
      </div>
      <!-- Header End -->

      <!-- Class Start -->
    <div class="container-fluid pt-5">
        <div class="container">
          <div class="text-center pb-2">
            <p class="section-title px-5">
              <span class="px-2">Books</span>
            </p>
            <h1 class="mb-4">Books for You</h1>
          </div>
          <div class="row">
            {% for i in bData %}
            <div class="col-lg-4 mb-5">
                <div class="card border-0 bg-light shadow-sm pb-2">
                  <img class="card-img-top mb-2" src="{{i.img.url}}" alt="" />
                  <div class="card-body text-center">
                    <h4 class="card-title">{{i.name}}</h4>
                    <!-- <p class="card-text">
                      Justo ea diam stet diam ipsum no sit, ipsum vero et et diam
                      ipsum duo et no et, ipsum ipsum erat duo amet clita duo
                    </p> -->
                  </div>
                  <div class="card-footer bg-transparent py-4 px-5">
                    <div class="row border-bottom">
                        <div class="col-6 py-1 text-right border-right">
                          <strong>Author</strong>
                        </div>
                        <div class="col-6 py-1">{{i.author}}</div>
                      </div>
                    <div class="row border-bottom">
                      <div class="col-6 py-1 text-right border-right">
                        <strong>Price</strong>
                      </div>
                      <div class="col-6 py-1">{{i.price}}/-</div>
                    </div>
                    <div class="row border-bottom">
                      <div class="col-6 py-1 text-right border-right">
                        <strong>Publication Year</strong>
                      </div>
                      <div class="col-6 py-1">{{i.publication_year}}</div>
                    </div>
                    <div class="row border-bottom">
                      <div class="col-6 py-1 text-right border-right">
                        <strong>Publication</strong>
                      </div>
                      <div class="col-6 py-1">{{i.publication}}</div>
                    </div>
                    
                  </div>
                  <a href="{% url 'detailBook' i.id %}" class="btn btn-primary px-4 mx-auto mb-4">View</a>
                </div>
              </div>
            {% endfor %}
            
            
          </div>
        </div>
      </div>
      <!-- Class End -->
{% endblock %}